<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Meu Site</h1>
    </header>
    <div class="topnav">
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
    </div>
    <main>
        <section class="column side">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam et provident illo aperiam. Hic impedit architecto totam facere sed. Eveniet perferendis laboriosam temporibus fugiat corporis quis aut ducimus architecto optio!</p>
        </section>
        <section class="column middle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ad quod reiciendis amet nesciunt eos, maiores neque accusamus vero, doloribus magni enim. Natus temporibus architecto corporis nesciunt dignissimos, qui harum?</p>
        </section>
        <section class="column side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vitae, delectus iure veritatis dolor deleniti, earum omnis assumenda voluptate blanditiis ad consequatur saepe, praesentium quo in nisi optio ea non.</p>
        </section>
        <footer>
            <p>Criado por Aaron</p>
        </footer>
    </main>
</body>
</html>