@charset "UTF-8";

@keyframes pipe-animation {
    from {right: -126px;}
    to {right: 100%;}
}
@keyframes jump {
    0% {bottom: 67px;}
    40% {bottom: 250px;}
    50% {bottom: 250px;}
    40% {bottom: 250px;}
    0% {bottom: 67px;}
}

.game-board{
    width: 900px;
    height: 500px;
    background-image: url(imagens/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 2px solid black;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.pipe{
    position: absolute;
    bottom: 67px;
    animation: pipe-animation 2s infinite;
    width: 80px;
}
.mario{
    position: absolute;
    bottom: 67px;
    width: 150px;
}
.jump{
    animation: jump 800ms linear;
}